@using ARM.Models.Enum
@if (TempData["display"] != null)
{
    if (TempData["notificationtype"].Equals(NotificationType.Success.ToString()))
    {
        <div class="alert alert-success alert-dismissable">
            @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
    }
    else if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
    {
        <div class="alert alert-danger alert-dismissable">
            @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
    }
    else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
    {
        <div class="alert alert-info alert-dismissable">
            @TempData["display"] <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
    }
}