/*Custom Css, edit with caution*/

img.wp-smiley,img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important
            }


.woocommerce-product-gallery {
                    opacity: 1 !important
                }

.recentcomments a {
                display: inline !important;
                padding: 0 !important;
                margin: 0 !important
            }

@media only screen and (max-width: 999px) {
                #gdlr-core-wrapper-1.gdlr-core-pbf-wrapper {
                    padding:0px 0px 0px 0px !important
                }
            }

            #gdlr-core-title-item-id-60363 .gdlr-core-title-item-title a {
                color: #212121
            }

            @media only screen and (max-width: 999px) {
                #gdlr-core-wrapper-2.gdlr-core-pbf-wrapper {
                    padding-top:100px !important;
                    padding-bottom: 30px !important
                }
            }

            @media only screen and (max-width: 999px) {
                #gdlr-core-wrapper-3.gdlr-core-pbf-wrapper {
                    margin-top:0px !important
                }
            }

            #gdlr-core-title-item-id-15783 .gdlr-core-title-item-title a {
                color: #262626
            }

/*Accordion*/

#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border-radius:0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    padding: 14px 30px 14px 70px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #89014c;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed{
    background: #f8f8f8;
    color: #89014c;
}
#accordion .panel-title a.collapsed:hover{
    color: #290319;
}
#accordion .panel-title a:before{
    content: "";
    width: 55px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: -13px;
    transform: skewX(-25deg);
    transition: all 0.5s ease 0s;
}
#accordion .panel-title a.collapsed:hover:before{
    background: #f8f8f8;
}
#accordion .panel-title a:after{
    content: "\f047";
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
}
#accordion .panel-title a.collapsed:after{
    color: #9f9f9f;
}
#accordion .panel-title a.collapsed:hover:after{
    color: #fff;
}
#accordion .panel-body{
    font-size: 14px;
    color: #5a3245;
    line-height: 25px;
    padding: 20px 15px 20px 40px;
    position: relative;
    border: none;
    transition: all 0.5s ease 0s;
}
#accordion .panel-body:before{
    content: "";
    width: 5px;
    height: 40px;
    background: #f8f8f8;
    position: absolute;
    top: 30px;
    left: 0;
}
#accordion .panel-body p{
    margin-bottom: 0;
}
        
            
            /****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
        
     /****** End Rating *****/  


/*Funky radio*/

/*        Funky radio buttons*/
            
            .funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
/*  line-height: 2.5em;*/
  text-indent: 0;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    padding-left: 60px;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


/*Range Slider*/

.mybd {
                
                background: #f4e4dc; /* Old browsers */
background: -moz-linear-gradient(left, #f4e4dc 0%, #cac1b5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f4e4dc 0%,#cac1b5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f4e4dc 0%,#cac1b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e4dc', endColorstr='#cac1b5',GradientType=1 ); /* IE6-9 */
                
                    background-image: url(wp-content/uploads/revslider/hompage1/slider-2-1.jpg);
    background-position: center;
            }
        
        
        
        .min {
  padding-top: 5px;
  padding-left: 10px;
  color: #cccccc;
}

.max {
  padding-top: 5px;
  padding-right: 10px;
  color: #cccccc;
}

#helper {
  padding-top: 40px;
  color: #46b7d5;
  font-style: italic;
}

output {
  display: inline-block;
  font-size: 2em;
}

/* original css */
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6!important;
  position: relative!important;
}

.rangeslider--horizontal {
  height: 20px!important;
  width: 100%!important;
}

.rangeslider--vertical {
  width: 20px!important;
  min-height: 150px!important;
  max-height: 100%!important;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40)!important;
  opacity: 0.4!important;
}

.rangeslider__fill {
  background: -webkit-linear-gradient(left, #e6a5cd, #830252)!important;
  background: -o-linear-gradient(right, #e6a5cd, #830252)!important;
  background: -moz-linear-gradient(right, #e6a5cd, #830252)!important;
  background: linear-gradient(to right, #e6a5cd, #830252)!important;
  position: absolute!important;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white !important;
  color: dimgray !important;
  font-weight: bold !important;
  font-size: 18px !important;
  border: 1px solid #ccc !important;
  cursor: pointer !important;
  display: inline-block !important;
  width: 100px !important;
  height: 40px;
  line-height: 38px !important;
  text-align: center !important;
  position: absolute !important;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g") !important;
  background-size: 100% !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1))) !important;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1))!important;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1))!important;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1))!important;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)!important;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)!important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)!important;
  -moz-border-radius: 22px!important;
  -webkit-border-radius: 22px!important;
  border-radius: 22px!important;
}

.rangeslider__handle:after {
  font-family: FontAwesome!important;
  content: ""!important;
  color: #cccccc!important;
}

.rangeslider__handle:before {
  font-family: FontAwesome!important;
  content: ""!important;
  color: #cccccc!important;
}

.rangeslider__handle:active {
  background-img: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==")!important;
  background-size: 100%!important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)))!important;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12))!important;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12))!important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12))!important;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y!important;
  -ms-touch-action: pan-y!important;
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x!important;
  -ms-touch-action: pan-x!important;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9)!important;
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9)!important;
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9)!important;
}