@using Microsoft.AspNetCore.Http
@model ARM.Models.Application.Profiling
@{
    Layout = "_LayoutCalculate";
    ViewBag.Title = "Calculation Profiling";
}


<h1>Retirement Lifestyle Planner</h1>
@using (Html.BeginForm("Calculate", "Home", FormMethod.Post, new {@class = "sf-border", id = "wizard_example", enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    await Html.RenderPartialAsync("Partials/AboutYou");
    await Html.RenderPartialAsync("Partials/Salary");
    await Html.RenderPartialAsync("Partials/PensionPot");
    await Html.RenderPartialAsync("Partials/IdealRetirement");
    await Html.RenderPartialAsync("Partials/Risk");

}