@{
    ViewData["Title"] = "ARM PENSIONS CALC | Home";
}
@{
    await Html.RenderPartialAsync("Partials/LandingSlider");
}
@{
    await Html.RenderPartialAsync("Partials/LandingAbout");
}

<div class="clearfix"></div>
@{
    await Html.RenderPartialAsync("Partials/LandingFeatures");
}