
@{
    Layout = "_LayoutCalculate";
    ViewBag.Title = "Request Success";
}

<style>
    .about_slider-area {
        height: 180px !important;
    }

    .contact-us-section {
        padding-top: 0px !important
    }
</style>
<section class="contact-us-section pb-30">
<div class="container">
    <div class="form-box clearfix">
        <h3>Thank you for using the ARM Pensions Retirement Calculator!Click the button below to try again!</h3>
        <a style="color: white" href="@Url.Action("Calculate")" class="btn btn-primary btn-lg">Try Again!</a>
    </div>
</div>
</section>