<!--Contact start-->
<section id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo pt-0">
                    <a href="index.html">SWAT</a>
                </div>
                <p class="font-w-6 pt-20 font-15 ln-h-30"><span class="Color-b">SWAT</span> is a fully responsive Multipurpose Bootstrap 3 Template built for web-designers, web-developers, business and any other creative people to build Bootstrap based websites.</p>
            </div>
            <div class="col-md-3">
                <div class="section-title-2">
                    <h3>UseFull Links</h3>
                </div>
                <div class="sidebar-post pt-15">
                    <ul>
                        <li>
                            <a href="#">Home Page Variations</a>
                        </li>
                        <li>
                            <a href="#">Features Typography</a>
                        </li>
                        <li>
                            <a href="#">Recent Blogs or News</a>
                        </li>
                        <li>
                            <a href="#">Single and Portfolios</a>
                        </li>
                        <li>
                            <a href="#">Company History</a>
                        </li>
                        <li>
                            <a href="#">Different & Unique Pages</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-title-2">
                    <h3>Photo Gallery</h3>
                </div>
                <div class="sidebar-gallery">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/Landing/images/footer-post-1.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Landing/images/footer-post-2.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Landing/images/footer-post-3.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Landing/images/footer-post-4.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Landing/images/footer-post-5.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Landing/images/footer-post-6.jpg" alt="" class="img-responsive">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-title-2">
                    <h3>Newsletter</h3>
                </div>
                <div class="footer-address">
                    <p class="font-w-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p class="font-w-6"><span class="Color-b">Street :</span> Orlando, Florida, USA</p>
                    <p class="font-w-6"><span class="Color-b">Email :</span> email@example.com</p>
                    <p class="font-w-6"><span class="Color-b">Phone :</span> +880123456789</p>
                </div>
                <div class="footer-social pt-15">
                    <ul class="top-social">
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact end-->
<footer>
    <div class="clearfix"></div>
    <div class="container">
        <p class="text-center pt-10">
            &copy; Copyright
            <script>
                var d = new Date();
                document.write(d.getFullYear());
            </script>
            ARM | All Rights Reserved.
        </p>
    </div>
</footer>