<!--Features start-->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title ptb-20">
                    <h2 class="font-w-8"><span class="color">A</span>WESOME <span class="color">F</span>EATURES</h2>
                    <p class="font-w-6">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div>
                <div class="section">
                    <!-- Single Feature Start -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feat p-25 bx-shadow">
                            <i class="fa fa-tablet font-45"></i>
                            <h5 class="font-20 pt-15">Web UI Design</h5>
                            <h6 class="font-13 font-w-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod voluptatem</h6>
                        </div>
                    </div>
                    <!-- Single Feature End -->
                    <!-- Single Feature Start -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feat p-25 bx-shadow active">
                            <i class="fa fa-leaf font-45"></i>
                            <h5 class="font-20 pt-15">Creative Design</h5>
                            <h6 class="font-13 font-w-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod voluptatem</h6>
                        </div>
                    </div>
                    <!-- Single Feature End -->
                    <!-- Single Feature Start -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feat p-25 bx-shadow">
                            <i class="fa fa-rocket font-45"></i>
                            <h5 class="font-20 pt-15">Performance</h5>
                            <h6 class="font-13 font-w-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod voluptatem</h6>
                        </div>
                    </div>
                    <!-- Single Feature End -->
                    <!-- Single Feature Start -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feat p-25 bx-shadow">
                            <i class="fa fa-star-o font-45"></i>
                            <h5 class="font-20 pt-15">Flexibility</h5>
                            <h6 class="font-13 font-w-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod voluptatem</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Feature end -->
<div class="clearfix"></div>
<div class="color-bg-b center">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="image-content p-30">
                    <h2 class="text-center ln-h-50 color-w font-w-8">
                        We have the experience and the knowledge to<br>
                        get your vision comes true.
                    </h2>
                    <h6 class="text-center color-w font-14 pb-20">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h6>
                    <a class="btn-two" href="#">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</div>