<section id="about-area-1" class="about-area-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="seo-about-img">
                    <img class="img-responsive" src="~/Landing/images/ab-01.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="tb-about-2-content">
                    <h3 class="pb-20">WELCOME TO <span class="Color-b">SWAT</span></h3>
                    <h1 class="font-w-6">BUILD AWESOME WEBSITE</h1>
                    <h5>We help you create any website quickly flexibility and performance</h5>
                    <p class="mb-15">
                        Lorem ipsum dolor sit amet, quodsi epicuri vituperata ne his, mel at aliquam
                        probatus voluptaria. Etiam efficiendi per ut, te liber sensibus sit. Ex eum esse
                        animal, quo viris homero possit ea. Sed ex laoreet assentior, exerci.
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>