<!-- Start Animated headline area -->
<div class="home-slider-area">
    <div class="slider-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="slider-sec-text">
                        <div class="cd-intro">
                            <h3 class="color-w font-28 txt-lft pb-10 ltr-s-4">WELCOME TO <span class="Color-b">ARM</span> PENSIONS</h3>
                            <h3 class="cd-headline clip is-full-width font-40 color-w font-w-8 txt-lft ptb-5">
                                <span>RETIREMENT </span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">CACULATOR</b> <b>PLANNER</b> <b>ADVISER</b>
                                </span>
                            </h3>
                            <h6 class="color-w txt-lft pb-40 ltr-s-2 font-w-2 ln-h-30">SWAT is a fully responsive Multipurpose Bootstrap 3 Template built for web-designers, web-developers, business and any other creative people to build Bootstrap based websites.</h6>
                            <a style="font-weight: bolder; font-size: 16pt" class="btn-two pull-left" href="@Url.Action("Profiler","Home")">Start Calculator</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Animated headline area -->